**/env
**/node_modules
**/deterritorializing-audienceship-training
**/.DS_Store
**/images
**/past-farm-papers
**/democratizing-conducting-diagram.graffle
**/diagram-template.gstencil
**/re-envisioning-audienceship-musicianship-dynamics.pdf